.sideBarContainer {
    background-color: darkmagenta;
    width: 30%;
    min-height: 70vh;
    margin-top: 50px;
    float: left;
    
    input {
      color: black;
      margin-top: 30px;
      width: 80%;
      margin-left: 10%;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .lists {
      height: 40vh;
      overflow-y: scroll;
      ul {
        list-style-type: none;
        li {
          display: block;
          height: 50px;
          width: 450px;
          text-align: center;
          border: 2px solid black;
          color: white;
          font-size: 30px;
          margin-top: 10px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .addList {
      position: relative;
      bottom: -100px;
      margin-left: 10%;
      font-family: Verdana, Geneva, Tahoma, sans-serif;;

        input {
          margin: 0;
          width: 80%;
        }

        label {
          color: white;
        }
    }

        button {
        background-color:  #EDD3D6;
        border: solid purple 1px;
        margin-top: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: purple;
        :hover {background-color: white};
        
    }
  }
